* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

header, nav, section, article, aside, figure, figcaption, hgroup, footer {
	display: block;
}

img{
	max-width: 100%;
}

body{
	text-align: center;
	background-color: #212b2d;
	color: #9fb1b2;
	font-family: "Arial","Times New Roman","Times", serif;
	font-size: 13px;
	line-height: 21px;
}

.wrapper{
	max-width: 900px;
	margin: 0 auto;
	text-align: left;
	padding: 20px 0 10px 0;
}

header {
	background-image: url('../img/header.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	border: 1px solid #6c8286;
	height: 250px;
	padding: 70px 95px 0 95px;
	margin-bottom: 10px;
	position: relative;
}

header h1 {
	font-size: 70px;
	color: #c3dae0;
	margin-bottom: 35px;
}

header p {
	font-size: 24px;
	color: #c3dae0;
}

/*Navegacion*/
nav ul{
	padding: 15px 0;
	margin: 5px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	background-color:#333d3f;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 0 32px;
	border-right: 2px dotted #91969a;
}

nav li a {
	color: #f5f5f5;
	font-size: 14px;
	text-decoration: none;
}

/*Contenido Principal*/
main{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-top: 20px;
}

/*Aside*/

.menu-principal {
	padding-right: 10px;
}

.menu-principal h2 {
	padding-bottom: 10px;
}
.menu-principal ul {
	border: 1px solid #283032;
	padding: 7px;
}

.menu-principal ul li {
	list-style-type: none;
	padding-left: 10px;
	padding-right: 5px;
}

.menu-principal li a {
	color: #9fb1b2;
}

.bloque {
	margin-top: 20px;
}

.bloque article {
	border: 1px solid #283032;
	padding: 7px;
}

.bloque h2{
	padding-bottom: 10px;
}


/*Articulos*/
.articles{
	padding: 0 25px;
}
.articles h2{
	font-size: 25px;
    margin-bottom: 15px;
}

.full-width{
	width: 100%;
	margin-bottom: 25px;
}

.col{
	width:49%;
	display: inline-block;	
	padding: 20px 0;
}

.col p{
	margin-bottom: 20px;
}
.btn {
	color: #0a0800;
    font-size: 12px;
    text-decoration: none;
    padding: 6px 13px 6px 13px;
    font-weight: bold;
    display: inline-block;
    border: #566568 solid 1px;
    background-color: #97aaae;
}

/*Footer*/
footer{
	text-align: center;
	margin-top: 18px;
    padding: 15px 0 0px 0;
    height: 25px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    line-height: 19px;
    border-top: #525b60 solid 1px;
}

.no-border{
	border: none;
}

.columna1{
	border-right: 1px dotted #91969a;
	padding-right: 10px;
}

.columna2{
	padding-left: 10px;
}

/*Responsive*/
@media(max-width: 1000px){
	main{
		flex-direction: column-reverse;		
	}
	.menu-principal{
		margin: 15px 0;
		padding-left: 25px;
	}
	.bloque{
		padding-left: 25px;
	}
	nav ul{
		display: block;
		text-align: center;

	}
	nav ul li {		
		border:none;
		width:40%;
		line-height: 40px;
	}
	nav li a{
		font-size: 18px;

	}
	.menu-principal li{
		margin-bottom: 10px;
	}
	.articles{
		display: flex;
		flex-direction: column;
	}
	.col {
		width: 100%;
		margin-bottom: 40px;
	}
	.columna1{
		border: none;
	}
	.columna2{
		padding: 0;
	}
}

@media (max-width: 500px) {

	header {		
		background-size: contain;
		background-position: center;
		height: 131px;
		padding: 50px 95px 0 95px;
	}
	header h1 {
		font-size: 35px;
	}
	header p {
		display: none;
	}
}
